@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
html {
    height: 100%;
    background-color: #f2f2f2;
    }

body {
      box-sizing: border-box;
      }
h1{
  font:400 40px 'pt sans',sans-serif;
  text-align:center;
}
nav a{
  text-decoration:none;
}
nav{
  height:40px;
  background:#808080;
  position:relative;

}
nav>ul{
  position:relative;
  list-style:none;
  padding:0;
  margin:0;
}
nav>ul>li>ul{
  position:absolute;
  left:0;
  padding:0;
  margin:0;
  list-style:none;
}

nav>ul>li>ul a{
  display:block;
  color:#e6e6e6;
  width:150px;
  line-height:50px !important;
  font:700 14px 'pt sans',sans-serif;
  background:#eee;
  border-bottom:1px solid #ddd;
  text-align:center;
  padding:0 5px;
   height:0;
  overflow:hidden;
  opacity:0;
    transition:all .3s linear .2s;
  -o-transition:all .3s linear .2s;
  -moz-transition:all .3s linear .2s;
  -webkit-transition:all .3s linear .2s;
}
nav>ul>li{
  float:left;
  position:relative;
}
nav>ul>li>a{
  padding:0 20px;
  color:#fff;
  display:block;
  line-height:40px !important;
  font:400 12px 'PT Sans', sans-serif;
  text-transform:uppercase;
  text-decoration:none;
}

.right {
color: red;
text-align: right;
float: right;}

.menu:hover {
    background-color: #404040;
}


#search {
    margin-top:10px;
    margin-bottom:10px;
}

.register {
    background-color: #6fdc6f;
}

.register:hover {
    background-color: #32cd32;
}

/*****************HEADER**********************/

.logo {
    text-align: left;
    font-style:bold;
    margin: 10px 10px 0px 0px;
}
.logo a {
    text-decoration: none;
    color: #262626;
}
/*********************************************/

/*****************NEWS*************************/

.newsfeed {
    font:400 20px 'PT Sans', sans-serif;
}


/*****************FOOTER**********************/

footer {
    position: relative;
	margin-top: -150px; /* отрицательное значение высоты футера */
	height: 150px;
	clear:both;
}
/*********************************************/