{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock title %} finOggr</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
	<header>
        <h1 class="logo"><a href="/">finOggr</a></h1>
    <form action="#"><input type="search" id="search" placeholder="Поиск по сайту"></form>
    </header>

    <nav>
        <ul>
            <li><a href='#' class="menu">Новости</a></li>
            <li><a href='#' class="menu">Анализатор</a></li>
            <li><a href='#' class="menu">Статистика</a></li>
            <li><a href='/portfolio' class="menu">Портфолио</a></li>
            {% if not user.is_authenticated %}
            <li class="right" class="register"><a href="{% url 'registration' %}" class="register">Регистрация</a></li>
            <li class="right"><a href="{% url 'login' %}" class="menu">Войти</a></li>
            {% else %}
            <li class="right"><a href="{% url 'account' %}" class="register">{{user.username}}</a></li>
            <li class="right"><a href="{% url 'logout' %}" class="menu">Выйти</a></li>
            {% endif %}
            <li class="right"><a>{% now "jS F Y H:i" %} </a></li>
        </ul>
    </nav>

    <section>
        {% block content %}

        {% endblock %}
    </section>

</body>
</html>