{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>finOggr</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
	<header>
        <h1 class="logo"><a href="/">finOggr</a></h1>
    <form action="#"><input type="search" id="search" placeholder="Поиск по сайту"></form>
    </header>

    <nav>
        <ul>
            <li><a href='#' class="menu">Новости</a></li>
            <li><a href='#' class="menu">Анализатор</a></li>
            <li><a href='#' class="menu">Статистика</a></li>
            <li><a href='/portfolio' class="menu">Портфолио</a></li>
            <li class="right" class="register"><a href='#' class="register">Регистрация</a></li>
            <li class="right"><a href='#' class="menu">Войти</a></li>
            <li class="right"><a>{% now "jS F Y H:i" %} </a></li>
        </ul>
    </nav>

    <section>
        {% block content %}

        {% endblock %}
    </section>

</body>
</html>